<% content_for :background do%>
<div id="background_cakes"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <%= image_tag "cakes.png", class: "img"%>
</div>

<div class="col-xs-3" class="mobile_description">
  <p class="product_description">Baked with distinctive ring shape inspired by a traditional European cake. Delicious to consume at room temperature, the bundt cakes offer your guests the perfect compliment toyour joyous event.</p>
</div>
<% end %>
