<% content_for :background do%>
<div id="background_tea"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <%= image_tag "tea.png", class: "img"%>
</div>

<div class="col-xs-3" class="mobile_description">
  <p class="product_description">An aromatic beverage commonly prepared by everyone. Let your guests enjoy a cup of cured leaves to unwind and  relax with either our House or Premium selection for you to choose from.</p>
</div>
<% end %>
