<div class="row">
  <div class="col-md-6">
    <div id="about_description">
      <h2>About</h2>
      <p>Hi, we’re a collective that loves minimal design.</p>

      <p>
        ALTOGETHER designs invitations and gift favours to fit the theme of your occasion. Our passion is executing your ideas to realise your dream event.  
      </p>
    </div>
  </div>
    <div class="col-md-6">
      <%= image_tag "about_pic2.png", class: "about_image"%>
    </div>
  </div>


<div class="row">
  <div class="col-md-6 col-md-push-6">
    <div id="do_description">
      <h2>What We Do</h2>
      <p>We specialise in packaging design that is as functional as it is good looking. We always aim to deliver a sharp, bespoke design solution. We love crafting and communicating your story that you want to relate to the guests of your event.</p>
    </div>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <%= image_tag "envelopes1.png", class: "about_image", id:"do_image"%>
  </div>
</div>
