<div class="row">
  <div class="col-xs-6">
    <div id="info">
      <p id="hello">Hello</p>
      <p id="email">Email</p>
      <p>letsget@altogether.sg</p>
    </div>
  </div>
  <div class="col-xs-6"></div>
</div>
