<div id="desktop_view">
  <% content_for :background do%>
  <div id="background"></div>
  <% end %>

  <% content_for :image do %>
  <div class="col-xs-4" id="image_container">
    <%= image_tag "tea.png", class: "img", id:"image_change"%>
  </div>

  <div class="col-xs-3" id="description">
    <p class="product_description" id="description_change">An aromatic beverage commonly prepared by everyone. Let your guests enjoy a cup of cured leaves to unwind and  relax with either our House or Premium selection for you to choose from.</p>
  </div>
  <% end %>
</div>
<%= render partial: "layouts/mobile_layout" %>
