<% content_for :background do%>
<div id="background_cards"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <%= image_tag "cards.png", class: "img"%>
</div>

<div class="col-xs-3" class="mobile_description">
  <p class="product_description">Announce your special day to your guests with modern, unique wedding invitations and elegant stationery.</p>
</div>
<% end %>
