<% content_for :background do%>
<div id="background_envelopes"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <%= image_tag "envelopes2.png", class: "img"%>
</div>

<div class="col-xs-3" class="mobile_description">
  <p class="product_description">Distinct designs, attractive colours and a premium finish that will offer you everything you ever wanted for your wedding invitations.</p>
</div>
<% end %>
