<% content_for :background do%>
<div id="background_candles"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <img src="/assets/candles.png" alt="non_edibles" class="img"/>
</div>

<div class="col-xs-3 mobile_description">
  <p class="product_description">A precious fragrance to warm the air, ladened with vanilla essence. Particularly to set a soft, warm, or romantic ambiance, the scented candles serve as the perfect gift to diffuse your story to your guests.</p>
</div>
<% end %>
