<% content_for :background do%>
<div id="background_fans"></div>
<% end %>

<% content_for :image do %>
<div class="col-xs-4" id="image_container">
  <%= image_tag "fans.png", class: "img"%>
</div>

<div class="col-xs-3" class="mobile_description">
  <p class="product_description">Beautiful as they are functional, fashioned out of decorative paper and wood. Make it your own by engraving your names and dates on the side to etch your occasion into your guests’ hearts. Paper fans come in a variety of colours.</p>
</div>
<% end %>
