/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "css/**/*";

  html {
    height: 100vh !important;
  }

 body {
   min-height: 100vh !important;
   margin: 0px;
   padding: 0px;
   font-family: century gothic, normal !important;
   height: 100vh !important;
   overflow: auto;
 }

 #background {
   height: 100vh;
   width: 46vw;
   background-color: #eee2d4;
   position: absolute;
   right: 0;
   transition: background-color 1s;
 }

 #main_page {
   height: 100vh;
 }

 /* header */

 #branding {
   padding-top: 35px;
 }

 #tagline {
   padding: 5px;
 }

 .navbar {
   margin-bottom: 0px !important;
 }

 #navigation {
   text-align: right;
   padding: 15px 11px 15px 15px;
   right: 0;
 }

 #navigation ul {
   display: inline-block;
 }

 #navigation li {
   list-style: none;
   display: inline-block;
 }

 #navigation a {
   margin: 20px;
   font-size: 14px;
   color: #000;
 }


 #product_links {
   padding: 100px 15px;

 }



 /* main_section8 */

 #product_links li{
   list-style: none;
   animation-name: textIn;
   animation-duration: 3s;
   animation-direction: alternate;
 }

 #product_links a {
   color: #000;
 }


 @keyframes textIn {
   from {
     opacity: 0;
     transform: translate3d(-200px,0px,0);
   }
   to {
     opacity: 1;
     transform: none;
   }

 }

 .dropdown_edibles {
   position: relative;
   display: inline-block;
   cursor: pointer;
 }

 .dropdown_edibles_content {
   display: none;
   min-width: 160px;
   z-index: 1;
   padding-left: 20px;
 }

 .dropdown_edibles_content a {
   display: block;
 }

 .dropdown_edibles:hover .dropdown_edibles_content {
   display: block;
 }

 .dropdown_non_edibles {
   position: relative;
   cursor: pointer;
 }

 .dropdown_non_edibles_content {
   display: none;
   min-width: 160px;
   z-index: 1;
   padding-left: 20px;
 }

 .dropdown_non_edibles_content a {
   display: block;
 }

 .dropdown_non_edibles:hover .dropdown_non_edibles_content {
   display: block;
 }


#image_container {
   width: 41vw;
   height: 77vh;
   margin: 0 auto;
   overflow: hidden;
 }

.img {
  width: 41vw;
  height: 77vh;
 }


 .product_description {
   padding: 0px 0px 10px 30px;
   margin-top: 300px;
 }


 /* footer */

 .footer {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   padding: 30px;
 }


 #social_media {
  padding-left: 55px;
 }

 #social_media a {
   padding-right: 50px;
   display: inline-block;
   color: #000;
 }

 #copyright {
   text-align: right;
 }

 #mobile_layout {
   display: none;
 }

 .dropbtn{
   border: none;
   background: none;
 }

 .dropdown-content {
     display: none;
     background-color: #f9f9f9;
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     text-align: center;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     border-bottom: 1px solid grey
 }

 .show {
   display: block;
 }

 h5 a {
   color: #000;
 }


  @media screen and (max-width: 480px){


    #background {
      display: none;
    }

    #image_container {
      width: 100%;
      height: 50%;
      margin: 0 auto;
      overflow: hidden;
    }

    .img {
      width: 100%;
      height: 50%;
    }

    #product_links {
      display: none;
    }

    #description {
      display: none;
    }

    #mobile_layout {
      display: block;
      margin: 10px 0px;
    }

    h5 {
      text-align: center;
    }

    .footer {
      position: static;
      padding: 0;
      margin-top: 30px;
    }

    #social_media {
      padding-left: 15px;
    }

    #background_cakes {
      width: 100%;
      height: 100%;
      position: fixed;
    }

    #background_coffee {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_cookies {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_honey {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_jam {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_macarons {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_tea {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_cards {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_envelopes {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_candle {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_fans {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    #background_shades {
      height: 100%;
      width: 100%;
      position: fixed;
    }

    .product_description {
      text-align: center;
      margin-top: 30px;
      padding: 0px 20px 0px 20px;
    }

    .col-xs-3 {
      width: 100% !important;
    }

    .about_image {
      width: 100%;
    }

    #do_description {
      width: 100%;
    }

    #contact {
     width: 100%;
     margin-top: 40px;
    }

    #about_description {
      width: 100%;
      float: none;
    }

  }
